
<div class="about-box">Предлагаем услуги Офис-менеджера удаленно и в офисе!</div> 
<div class="info-list">
  <div class="about-box"> 
    <div class="about-text" id="about-text-1">
        Офис-менеджер – «на все руки мастер»!
        Поддержка в управлении вашей компанией без найма персонала!
        <span class="mobile-display-none">
        Вы сократите свое драгоценное время на поиск клиентов и развитие компании!
        </span>
    </div>
  </div>
  <div class="about-box about-text-2"> 
    <div class="about-text">
      Выполнение специальных заданий, крактосрочный и долгосрочных миссий, без трудоустройства на постоянной основе!
    </div>
  </div>
  <div class="about-box" id="about-text-3"> 
    <div class="about-text">
       Спектр услуг : секретарь, завхоз, администратор, делопроизводство и первичная бухгалтерия удаленно!
    </div>
  </div>
</div>
